In [1]:
import pandas as pd

## Задание 1

In [23]:
raitings = pd.read_csv('ratings.csv')

In [18]:
def class_film (row):
    if row <= 2:
        return 'низкий рейтинг'
    elif row <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [94]:
raitings['class'] = raitings.rating.apply(class_film)
raitings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [95]:
raitings.value_counts('class')

class
средний рейтинг    63801
высокий рейтинг    22818
низкий рейтинг     13385
dtype: int64

## Задание 2

In [97]:
keywords = pd.read_csv('keywords.csv')

In [98]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дльний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
def class_region (row):
    for region in geo_data:
        for i in geo_data[region]:
            if i in row['keyword'].split(' '):
                return region
    return 'udefined'

In [99]:
keywords['region'] = keywords.apply(class_region, axis=1)
keywords.head()

         keyword     shows    region
0             вк  64292779  udefined
1  одноклассники  63810309  udefined
2          порно  41747114  udefined
3           ютуб  39995567  udefined
4      вконтакте  21014195  udefined

In [100]:
keywords.value_counts('region')

region
udefined         99406
Центр              384
Северо-Запад       146
Дльний Восток       64
dtype: int64

## Задание 3

In [168]:
movies = pd.read_csv('movies.csv')

In [126]:
years = list(range(1950, 2011))

In [169]:
def production_year (row):
    for year in years:
        if str(year) in row['title']:
            return year
    return 1900

In [178]:
movies['year'] = movies.apply(production_year, axis=1)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [172]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [179]:
ratings_year = ratings.merge(movies)
ratings_year.head()

   userId  movieId  rating   timestamp                   title genres  year
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama  1995
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama  1995
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama  1995
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama  1995
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama  1995

In [174]:
def groupby_function(data):
    return data.rating.mean()

In [190]:
ratings_year.groupby('year').apply(groupby_function).sort_values(ascending = False)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Length: 62, dtype: float64