In [113]:
import pandas as pd

## Задание 1

In [114]:
ratings = pd.read_csv('ratings.csv')

In [115]:
movies = pd.read_csv('movies.csv')

In [116]:
ratings_5 = ratings[ratings['rating']==5]['movieId'].value_counts()
print('Фильм с наибольшим количеством оценок 5:')
movies[movies['movieId']==ratings_5.keys()[0]]

Фильм с наибольшим количеством оценок 5:

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2

In [117]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [118]:
power_country = power[(power['country'] == 'Latvia')|(power['country'] == 'Lithuania')|(power['country'] == 'Estonia')]
power_category = power_country[(power_country['category'] == 4)|(power_country['category'] == 12)|(power_country['category'] == 21)]
power_year = power_category[(power_category['year'] >= 2005)&(power_category['year'] <= 2010)]
power_quantity = power_year[power_year['quantity'] > 0]

In [119]:
print(f"Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) - {sum(power_quantity['quantity'])}")

Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) - 240580.0

## Задание 3

In [138]:
page_url = 'https://www.bbc.com/russian/news-51706538'
df = pd.read_html(page_url, attrs = {'class': 'core-table gel-brevier'}, encoding='utf-8')
df

[             Unnamed: 0   Умерли  Смертность*  Заразились  \
 0                   США  549 795       1681.0  30 342 649
 1              Бразилия  321 515       1535.0  12 748 747
 2               Мексика  203 210       1610.0   2 238 887
 3                 Индия  162 927        120.0  12 221 665
 4        Великобритания  126 713       1887.0   4 345 788
 ..                  ...      ...          ...         ...
 211  Соломоновы Острова        0          0.0          19
 212  Маршалловы острова        0          0.0           4
 213             Вануату        0          0.0           3
 214               Самоа        0          0.0           3
 215          Микронезия        0          0.0           1

      Новые случаи  0  10  100  1000  10000  **  Unnamed: 5
 0                                          NaN         NaN
 1                                          NaN         NaN
 2                                          NaN         NaN
 3                                          NaN         NaN
 4                                          NaN         NaN
 ..                                         ...         ...
 211                                        NaN         NaN
 212                                        NaN         NaN
 213                                        NaN         NaN
 214                                        NaN         NaN
 215                                        NaN         NaN

 [216 rows x 6 columns]]